<div class="products-component">
  <clever-header [title]="'LIST'"></clever-header>
  <clever-sub-header [isSelected]="isSelectedItem" (createEvent)="createHandler($event)" (removeEvent)="removeHandler($event)"></clever-sub-header>
  <div class="products-content">
    <div class="list">
      <clever-item *ngFor="let i of items"
                  (moreEvent)="onMoreHandler($event)" 
                  (selectEvent)="selectedItemHandle($event)" 
                  [moreId]="isMoreId" 
                  [item]="i">
      </clever-item>
    </div>
    <div class="paginator">
      <mat-paginator  [length]="itemTotal"
                      [pageSize]="10"
                      [pageIndex]="pageIndex"
                      [pageSizeOptions]="[10, 20, 50]"
                      (page)="onPaginator($event)">
      </mat-paginator>
    </div>
  </div>
</div>