.profile-from {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
}

mat-form-field.full-width {
    width: 250px;
}

.profile-content {
    overflow: scroll;
    padding: 0 15px;
    height: calc(100vh - 105px);
}

div.change-pass {
    text-align: center;
}

form.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 25px 15px;
}