<div class="login-component">
  <div class="login-container" [formGroup]="loginForm">
    <h1 class="title">LOGIN</h1>
    <form class="login-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" [formControl]="emailFormControl" >
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password" [formControl]="passwordFormControl">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('maxlength')">
          Maximum
          <strong>16 character</strong>
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('minlength')">
          Minimum
          <strong>6 character</strong>
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('pattern')">
          Must be only
          <strong>[a-zA-Z0-9]</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <div class="footer-block">
      <mat-checkbox color="primary" disableRipple="true" [formControl]="rememberMeFormControl">
        Remember me
      </mat-checkbox>
      <div class="submit-btn">
        <button (click)="login()" mat-raised-button color="primary">LOG IN</button>
      </div>
    </div>
  </div>
</div>