.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 15px;
    border-bottom: 1px solid #bdbdbd;
}

.main-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.checkbox-element {
    margin: 15px;
}

.col {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 0 10px;
}

p.fild-title.simple-text {
    font-family: Roboto-Bold;
    width: 60px;
}

p.fild-title.simple-text,
p.fild-value.simple-text {
    margin: 5px;
}

p.fild-value.simple-text {
    font-family: Roboto-Regular;
}

.btn-block {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button.mat-raised-button {
    margin: 4px 0;
}